html, body {
    padding: 0;
    margin: 0;  
    background-color: #181d25;
    width: 350px;
    font-family: sans-serif;   
}

.topBanner {
    display: flex;
    padding: 10px;
}

.topBanner .popup_title {
    text-align: center;
    color: #B3a7f7;
    margin-top: 0px;
    padding: 5px 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#fields-container {
    padding: 0px 10px;
}

.wrapper {
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
}

.wrapper .line-item {
    background-color: #232631;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.wrapper .line-item .topDiv {
    display: flex;
    padding: 10px;
}

.wrapper .line-item .topDiv .remove-button {
    margin-left: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
}

.wrapper .line-item .topDiv .remove-button svg {
    fill: #ca3c25;
    width: 10px;
}
  
.wrapper .line-item input[type="text"] {
    background-color: transparent;
    text-align: left;
    border: none;
    width: 100%;
    font-size: 18px;
    color: #B3A7F7;
    font-weight: bold;
}

.wrapper .line-item button {
    background-color: transparent;
    color: #ffffff;
    padding: 4px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

.all-button-groups {
    text-align: center;
    display: flex;
}
  
.button-group-container {
    padding: 5px;
    width: 25%;
}

.wrapper .line-item .button-group-container:nth-child(1) {
    background-color: rgba(59, 130, 246, 0.2);
    border-bottom-left-radius: 6px;
}
.wrapper .line-item .button-group-container:nth-child(2) {
    background-color: rgba(239, 68, 68, 0.2);
}
.wrapper .line-item .button-group-container:nth-child(3) {
    background-color: rgba(249, 115, 22, 0.2);
}
.wrapper .line-item .button-group-container:nth-child(4) {
    background-color: rgba(34, 197, 94, 0.2);
    border-bottom-right-radius: 6px;
}
  
.button-group-label {
    color: #F9FAFB;
    margin: 0.25rem 0px;
    font-weight: bold;
}
  
.button-group {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.button-group button.main {
    margin: 0 0 0 auto;
}

.button-group button.admin {
    margin: 0 auto 0 0;
}

.button-group svg {
    width: 15px;
    fill: white;
}

.button-group .main svg {
    fill: #E5E7EB;
}

.button-group .admin svg {
    fill: #E5E7EB;
}

.drag-handle {
    color: white;
    fill: white;
    cursor: grab;
    padding: 0 8px;
    user-select: none;
    font-size: 16px;
    margin: auto 0;
}

.drag-handle svg {
    width: 10px;
    display: flex;
    margin: auto;
}
  
.line-item {
    transition: border 0.2s ease;
}
  
.line-item.over {
    border: 2px dashed #555;
    background-color: #f8f8f8;
}

.field-content {
  transition: all 0.2s ease;
}

.wrapper .line-item .collapse-toggle {
  background: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

button svg {
    width: 10px;
    fill: white;
}


.collapsible-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.collapsible-content.open {
  max-height: 500px; /* or a large enough value */
  opacity: 1;
}


.bottom_buttons {
    padding: 5px 10px;
    display: flex;
    height: 40px;
    background-color: transparent;
}

.bottom_buttons > div {
    display: flex;
    margin: 0px 0px 0px auto;
}

.bottom_buttons #add-field {
    height: 100%;
    background-color: #B3A7F7;
    color: #181d25;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.bottom_buttons .btn {
    cursor: pointer;
    width: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: #B3A7F7;
    margin-left: 5px;
}

.bottom_buttons .btn svg {
    fill: #181d25;
}


::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #181d25;
}

::-webkit-scrollbar-thumb {
    background: #232631;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #181d25;
}